<div>
    <ul>
      <li><b><a routerLink="/kitchen" routerLinkActive="active">KITCHEN</a></b></li>
      <ul>
        <li><a routerLink="kds" routerLinkActive="active">KitchenDisplayScreen</a></li>
        <li><a routerLink="/inventory" routerLinkActive="active">Inventory</a></li>
      </ul>
      <li><b><a routerLink="/maintenance" routerLinkActive="active">MAINTENANCE</a></b></li>
      <ul>
        <li><a routerLink="/assets" routerLinkActive="active">Assets</a></li>
      </ul>
      <li><b><a routerLink="/reports" routerLinkActive="active">REPORTS</a></b></li>
      <ul>
        <li><a routerLink="/charts" routerLinkActive="active">Asset Utilization</a></li>
        <li><a routerLink="/graphs" routerLinkActive="active">Order Priority Items</a></li>
      </ul>
    </ul>
  </div>
  