<div>
    <ul>
      <li><b><a routerLink="/kitchen" routerLinkActive="active">KITCHEN</a></b></li>
      <ul>
        <li><a routerLink="/kitchen/kds" routerLinkActive="active">KitchenDisplayScreen</a></li>
        <li><a routerLink="/kitchen/inventory" routerLinkActive="active">Inventory</a></li>
      </ul>
      <li><b><a routerLink="/maintenance" routerLinkActive="active">MAINTENANCE</a></b></li>
      <ul>
        <li><a routerLink="/maintenance/assets" routerLinkActive="active">Assets</a></li>
      </ul>
      <li><b><a routerLink="/reports" routerLinkActive="active">REPORTS</a></b></li>
      <ul>
        <li><a routerLink="/reports/charts" routerLinkActive="active">Charts</a></li>
        <li><a routerLink="/reports/graphs" routerLinkActive="active">Graphs</a></li>
      </ul>
    </ul>
  </div>
  